.font-size-small {
  font-size: 0.9rem;
}

.svg-1 {
  svg {
    width: $h1-font-size;
    height: $h1-font-size;
  }
}
.svg-2 {
  svg {
    width: $h2-font-size;
    height: $h2-font-size;
  }
}
.svg-3 {
  svg {
    width: $h3-font-size;
    height: $h3-font-size;
  }
}
.svg-4 {
  svg {
    width: $h4-font-size;
    height: $h4-font-size;
  }
}
.svg-5 {
  svg {
    width: $h5-font-size;
    height: $h5-font-size;
  }
}
.svg-6 {
  svg {
    width: $h6-font-size;
    height: $h6-font-size;
  }
}
