{{ define "title" }}{{ .Site.Title }}{{ end}}
{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-home{{ end }}
{{ define "header_classes" }}header-transparent{{ end }}

{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}

{{ partial "hero-image-fullscreen.html" (dict "background" .Params.heroBackground "heading" .Params.heroHeading "subheading" .Params.heroSubHeading "content" .)}}

{{ $headless := .Site.GetPage "/homepage" }}
{{ $reusablePages := $headless.Resources.ByType "page" }}
{{ $reusablePages := sort $reusablePages ".Params.weight" }}

{{ range first 1 $reusablePages }}
<div id="home" class="strip bg-cover bg-position-top bg-secondary bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
        <div class="video-container">
          {{ with .Params.youtube }}
            <iframe class="video rounded" src="{{ printf "https://www.youtube.com/embed/%s?controls=0" . }}" title="YouTube Video Player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          {{ end }}
          {{ with .Params.video }}
            <video class="video rounded" controls autoplay>
              <source src="{{ . }}" type="video/mp4">
              Sorry, your browser doesn't support embedded videos.
            </video>
          {{ end }}
        </div>
</div>
{{ end }}

{{ range first 1 (after 1 $reusablePages) }}
<div id="home" class="strip bg-cover bg-secondary bg-position-top bg-overlay text-white" style="background-image: url('{{ .Params.background | relURL }}');">
  <div class="container pt-17 pb-17">
    <div class="row">
      <div class="col-12 col-md-6 offset-md-6">
        <h2 class="text-primary text-capitalize text-center mb-3">{{ .Title }}</h2>
        <div class="text-light">
          {{ range .Params.items }}
            <div class="d-flex flex-column mb-3 justify-content-center align-items-center text-center">
              <div class="d-flex align-items-center mb-1 svg-2">
                {{ with .icon }}
                  {{ $icon := resources.Get ( printf "bootstrap-icons/%s.svg" . ) }}
                  {{ $icon.Content | safeHTML }}
                {{ end }}
              </div>
              <div class="d-flex align-items-center lead"> {{ .text }} </div>
            </div>
          {{ end }}
        </div>
        <div>{{ .Content }}</div>
        {{ if .Params.button }}
        <a class="button" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ end }}


{{ $services := site.GetPage "/services" }}
{{ if $services.RegularPages }}
<div class="container pt-8 pb-8 pb-md-14 pt-md-14">
  <div class="row justify-content-start">
    <div class="col-12">
      <h2 class="text-center mb-5">{{ $services.Title }}</h2>
    </div>
    {{ range first 6 $services.RegularPages }}
    <div class="col-12 col-md-4 mb-1">
      <div class="service service-summary">
        {{ if .Params.icon }}
        <div class="service-image">
          <img height="80" width="80" src="{{ .Params.icon | relURL }}" alt="{{ .Title }}" />
        </div>
        {{ end }}
        <div class="service-content">
          <h2 class="service-title">
            {{ if .Params.link }}
              <a href="{{ .Permalink }}">{{ .Title }}</a>
            {{ else }}
              <span class="text-primary">{{ .Title }}</span>
            {{ end }}
          </h2>
          {{ .Summary }}
        </div>
      </div>
    </div>
    {{ end }}
    <div class="col-12 text-center">
      {{ with .Params.button }}
        <a class="button button-primary" href="{{ .Site.BaseURL }}services">View All Services</a>
      {{ end }}
    </div>
  </div>
</div>
{{end}}

{{ range first 2 (after 2 $reusablePages) }}
<div id="home" class="strip bg-dark bg-cover bg-position-top bg-overlay" style='background-image: url("{{ .Params.background | relURL }}");'>
  <div class="container pt-8 pb-8 pb-md-12 pt-md-12">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 text-center text-white">
        <h2>{{ .Title }}</h2>
        {{ .Content }}
        <a class="button btn-primary" href="{{ .Params.buttonLink | relURL }}">{{ .Params.button }}</a>
      </div>
    </div>
  </div>
</div>
{{ end }}

{{ end }}

{{ define "footer_js" }}
{{ end }}
